.title{
    
    color: rgb(237, 245, 245);
    margin-top: 60px;
    font-size: 40px;
    text-shadow:2px 2px 5px rgb(90, 151, 221);
}
.container{
  
    height:60px;
    text-align: center;
    color: rgb(162, 177, 187);
    font-size:25px ;
    background: linear-gradient(45deg, rgb(55, 77, 110) 30%, rgb(117, 130, 146) 58%);
    border-radius: 6px;
}
.button{
  
    
    text-align: center;
    color: rgb(77, 100, 116);
    font-size:35px ;
    cursor: pointer;
    background: linear-gradient(45deg, rgb(55, 77, 110) 30%, rgb(117, 130, 146) 58%);
    border-radius: 6px;
}
.color{
    
    color: rgb(223, 32, 32);
}
